.navbar {
  width: 100%;
  height: 4em;
  background-color: rgb(36, 36, 141);
  display: flex;
  align-items: center;
}
.inputbox {
  position: absolute;
  bottom: 0px;
  width: 70%;
  margin-left: 34em;
  display: flex;
}
.input {
  width: 95%;
  height: 4em;
  border: 1px solid black;
  outline: none;
  padding: 5px;
}

footer {
  margin-top: 53em;
}

.logout {
  padding: 17px;
  margin-left: auto;
  margin-right: 10px;
  background-color: aliceblue;
  border: 0;
  cursor: pointer;
}

.logout:hover {
  background-color: rgb(238, 0, 255);
  color: white;
}

.currentuser {
  width: 100%;
  margin-left: 1em;
}

.main {
  display: flex;
  height: 830px;
  overflow-y: scroll;
  width: 70%;
  margin-left: auto;

  /* border: 1px solid red; */
}

.usermsg {
  background-color: rgb(0, 13, 255);
  padding: 10px;

  width: fit-content;
  margin-top: 1em;
  color: white;
  border-radius: 1em;
}
.block {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.block-user {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: end;
  margin-right: 20px;
}

.profile {
  border-radius: 50%;
}

.content {
  margin-left: 50em;
  margin-right: 1em;
}
.otheruser {
  margin-top: 2em;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userlist {
  width: 29.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  height: 56.5em;
}

.item {
  border-bottom: 1px solid rgb(165, 165, 165);
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: x-small;
}

.avatar {
  padding: 10px;
}

.listcontent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  width: 100%;
  /* border: 1px solid red; */
}

.listuser {
  font-size: large;
  font-weight: 500;
}

.listmsg {
  color: rgb(92, 92, 92);
}

.start-chat {
  border: 0;
  padding: 10px;
  background-color: rgb(11, 18, 121);
  color: white;
  cursor: pointer;
  width: 30%;
}

.start-chat:hover {
  background-color: rgb(6, 11, 81);
}

/* login */
.login {
  background-color: rgb(143, 190, 255);
  height: 100vh;
}

.google {
  padding: 10px;
  width: 400px;
}

/* chats */

.tab {
  width: 50%;
  height: 50px;
  background-color: aliceblue;
  border: 1px solid blue;
}

.tab:hover {
  background-color: blue;
  color: white;
}

.options{
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1px solid black;
  margin-left: auto;
  padding: 20px;
}

.addcontacts{
  margin-left: auto;
  padding: 10px;
  border: 0;
  margin-right: 10px;
}





.nav-buttons {
  margin-left: auto;
}

.partner {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(67, 82, 255);
  margin-left: 0;
}
